/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* sidebar menu list */

/*body, html {height:100%;}*/
/*.whole-page-padding-top {
	padding-top: 10px;
}
*/
.first-border {
	border-right: 1px solid gray;
	height: 100%;
	position: relative;
}

.sidebar-menu {
	padding-left: 10px;
}

.sidebar-menu-list{
	list-style: none;
	padding-left: 20px;
}
.horizontal-line-margin {
	margin-right: 14px;
}
.sidebar-menu-list-down {
	margin-bottom: 20px;
	list-style: none;
}

.glyphicon-plus {
	font-size: 14px;
}

.sidebar-menu-list-items {
	font-family: inherit;
	color: white;
	font-size: 13px;
	width: 95%;
	height: 50px;
	padding-top: 15px;
	margin-top: 10px;	
	margin-right: 10px;
}
.sidebar-menu-list-items-down:hover {
	text-decoration:none;
}

.right-first-border {
	border-left: 1px solid gray;
	height: 100%;
	padding: 10px;
	position: relative;
}

.right-sidebar-menu {
	padding-left: 10px;
}

.right-sidebar-menu-list {
	list-style: none;
}
.right-sidebar-menu-list-items {
	font-family: inherit;
	font-size: 15px;
	width: 95%;
	height: 50px;
	padding-top: 15px;
	margin-top: 10px;	
	margin-right: 10px;
}



.mdl-layout {
  align-items: center;
  justify-content: center;
}
.mdl-layout__content {
  padding: 24px;
  flex: none;
}

.glyphicons-color {
	color: #7d8aaf;
}

.glyphicon {
	margin-right: 14px;
}

.tags-width {
	width: 100%;
	text-align: left;
}